body{
    padding: 0;
    margin: 0;
}
header{
    background-color: black;
    color: white;
    display: flex;

}

main{
    display: flex;
}

.izquierda{
    background-color: blue;
    width: 30%;

}

.derecha{
    background-color: red;
    width: 70%;
}

footer{
    background-color: aqua;
}